<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Library-X | Contact</title>
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<nav th:fragment="header">
  <div class="navbar">
    <div class="logo">
      <img th:src="@{images/logo.png}"  width="115px" alt="">

    </div>
    <nav>
      <ul>
        <li><a href="/index" class="line">Home</a></li>
        <li><a href="/books" class="line">Books</a></li>
        <li><a href="/catagory"class="line">Catagories</a></li>
        <li><a href="/Author"class="line">Authors</a></li>
        <li><a href="/publisher"class="line">Publisher</a></li>
        <li><a href="/login"class="line">Login</a></li>
        <li><a href="/register" class="line">Register</a></li>
        <div>



        </div>
      </ul>
    </nav>


  </div>
</nav>

</body>
</html>
